body 
{
     background-color:#474142;    
}

.Layout
{
    background-color:#DB0735;
    
}
#divFooter
{
  text-align:right;
}

/*Main body div, all content goes in here*/
#divBody
{
     margin: 0 auto;
     width:95%;
    min-width: 800px;
}
/*End Main body div*/
#divIndex
{
    background-color:#ffffff;
    margin-top:1%;
    margin-bottom:1%; 
    min-height:300px;
      
}
#divGalleryTab
{
    height :auto;
    width: inherit;
    padding-left:10px;
    padding-top:10px;
    
}
/* Head divs*/
#divHead {
    position: relative;
    min-height: 100px;
    padding-bottom: 0;
}   
#divLinks 
{

    padding: 5px;
    float: left;
} 
#divLogin 
{

    padding: 5px;
    float: right;
} 
/* End Head divs*/ 
