body 
{
     background-color:#474142;    
}

.Layout
{
    background-color:#DB0735;
    
}
#divFooter
{
  text-align:right;
}

#divBody
{      
     margin-right:auto;
     margin-left:auto;
     width:95%;
}
#divIndex
{
    background-color:#ffffff;
    height:95%;
    min-height:300px;
      
}
#divGalleryTab
{
    height :auto;
    width: inherit;
    padding-left:10px;
    padding-top:10px;
    
}
