body 
{
   background: url(/Resources/Layout/masterBG.png) repeat-x;
}
#PageWrapper 
{
    position: relative;
    width: 1200px;
    height: 1000px;
    margin: 0 auto; 
    overflow: hidden;
}

#Header
{    
    top: 0;
    margin-left: 0;
    height: 100px;
}
#Header ul
{
    padding-top: 5px;
}

/**
Content
**/
#LeftColumn 
{
    width: 850px;
    height: 100%;
    float: left;
}
#RightColumn 
{
    width: 200px;
    height: 100%;
    float: right;

}
#ContentWrapper 
{
    margin-left: 120px;
    margin-right: 0px;
    height: 100%;
}
/**
End Content
**/
#Menu 
{
    position: absolute;
    height: 100%;
    width: 120px;
}
#Footer 
{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30px;
}
/**
Video page styling
**/
#VideoContent {
    background-color: #FFFFFF;
    
}