body 
{
   
}

/**
Master page styling
**/
#MasterContentContainer {
    background: url(/Resources/Layout/masterBG.png) repeat-x;
    position: absolute;
    height: 100%;
    width: 99%;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#MasterContent 
{
    height: 1024px;
    width: 850px;
    horiz-align: center;
}
#MasterMenu 
{
    background-color: #FFFFFF;
    width: 90%;
    padding: 5px;
    margin: 10px auto;
    -moz-border-radius: 5px;
    border-radius: 5px;
}